<html>
<head>
<link href="/styles.css" rel= "stylesheet" media="all"/>

</head>

<body>

<h1 id="sloc">Welcome to barber shop</h1>
<p class="somthing">we open</p>

<form action="/" method="POST">
    Your name:<br/>
    <input type="text" name="user_name"/><br/>
    Your phone<br/>
    <input type="text" name="phone"/><br/>
    Data<br/>
    <input type="text" name="data"/><br/>

    <input type="submit">
</form>

</body>
<html>